table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
        
}
th, td{
    width: 200px;
}

td:nth-child(4), th:nth-child(4){
    text-align: right;
}

td:nth-child(3){
    text-align: center;
}

td:nth-child(2){
    text-align: center;
}

th:nth-child(1){
    text-align: left;
}
tr:nth-child(2){
    background-color: yellow;
}
tr:nth-child(3){
    background-color: red;
}
tr:nth-child(4){
    background-color: yellow;
}
tr:nth-child(5){
    background-color: red;
}